<div class="lk__inner">
  <div class="lk__main">
    <div class="lk__content">
      <router-outlet></router-outlet>
    </div>
    <div class="lk__sidebar">

      <mat-card class="lk__profile">
        <mat-card-header>
          <div mat-card-avatar class="lk__profile-image" [attr.data-image]="currentUser.image"></div>
          <mat-card-title> {{ currentUser.login }}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
      </mat-card>

      <mat-nav-list>

        <ng-container *ngFor="let item of navMenu">

          <mat-list-item routerLink="{{ item.route }}"
                         *ngIf="this.getCurrentRoute() != item.route; else inactiveLinkTemplate">
            <mat-icon color="primary" mat-list-icon>{{ item.icon }}</mat-icon>
            <span matLine>{{item.text}} </span>
          </mat-list-item>

          <ng-template #inactiveLinkTemplate>
            <mat-list-item [ngStyle]="{'pointer-events':'none'}" class="mat-accent mat-active mat-primary mat-background-primary">
              <mat-icon color="primary" mat-list-icon>{{ item.icon }}</mat-icon>
              <span matLine class="mat-primary">{{item.text}}</span>
            </mat-list-item>
          </ng-template>

        </ng-container>

      </mat-nav-list>

    </div>
  </div>
</div>
